[2021-06-09 15:35] Malinskiy commented on #500
It might be that a device immediately fails the execution of the batch. You can see the list of incomplete tests in the raw.json file for example. Seems like these tests are so short that you can't see them in the timeline at all

[2021-06-09 16:34] smugleafdev commented on #500
They seem to mostly be duration 0 or 1. So I guess my real question is: Why are there a ton of duration 0 tests while batching strategy is on? They all eventually run normally with their standard duration.

For example, I have one test method that was "ran" 49 times. Not going to count them, but it seems it's about half and half either duration 0 or 1, and then the last one is 7948, a reasonable r

[2021-06-10 00:50] Malinskiy commented on #500
Most of the time this indicates a problem with the Android device. You need to figure out what happens during the batch: what's the last actual test and see how that breaks the whole test batch execution. There might be a native crash of the whole device for example and the runtime just restarts: this will stop the test run and if it happens frequently enough - a lot of tests will be incomplete. B

[2021-06-14 04:26] Malinskiy opened #525 "Create a snap for linux distribution"
See: https://snapcraft.io/docs/creating-a-snap

[2021-06-14 11:12] mabae opened #526 "Enhanced device filter"
**Is your feature request related to a problem? Please describe.**
Device filtering is currently possible in the Gradle plugin based on the serial number only.

**Describe the solution you'd like**
A filtering on further device attributes, such as model, with a syntax similar to the `filteringConfiguration`. For example:
Kotlin DSL
[code]
YAML:
[code]

**Describe alternatives you've considered**
-

[2021-06-15 04:05] Malinskiy commented on #526
Hey @mabae. Thanks for this request, I've been waiting for a use-case to expand the device filtering logic.
Currently every device is expected to report:
[code]

From your request you seem to be interested in model  and serialNumber only, is that correct?

[2021-06-15 06:38] mabae commented on #526
The snippets above with model and serialNumber are just examples. The suggested device filtering syntax is inspired by the test filtering syntax. I think it would be good to cover all attributes of the device.

[2021-06-16 06:55] #512 closed

[2021-06-17 22:31] trevjonez commented on #401
Ended up deciding to just standup influx on my cluster so I may take a swing at adding v2 support rather than timestream.

[2021-06-17 22:38] trevjonez commented on #480
also seen issues with nested tests. roughly this:

[code]

[2021-06-18 17:18] plastiv opened #533 "Support AndroidJUnitRunner test filters"
**Is your feature request related to a problem? Please describe.**
I have mixed onboarding experience as it wasn't directly obvious from docs that Marathon reimplements test builder and doesn't support everything that android test builder supports. My codebase has `SdkSuppress` annotation which leads Marathon into an infinitive loop.

**Describe the solution you'd like**
I believe it may improve m

[2021-06-19 00:48] Malinskiy commented on #533
Hey @plastiv, thanks for submitting this issue

I agree it’s not completely clear what is happening with the tests. However, I do believe this is an issue with the AndroidJUnitRunner and not marathon: the filtering mechanism in JUnit for `SdkSuppress` should report assumption failure rather than not reporting anything at all. Marathon would correctly identify these annotations out of the box if th

[2021-06-26 08:14] folkyatina opened #536 "Log file link is broken in html report in 0.6.2"
`Log file` link stopped working in html report since 0.6.2. Log file names now have an unique suffix added to them and so unavailable from html report.

**To Reproduce**
1. Open marathon html report
2. Click on one of the tests.
3. Click on `Log file` link
4. Watch the animated loader and 404 in browser console

**Expected behavior**
Able to look through logcat logs

[2021-07-06 08:07] Malinskiy commented on #393
Another potential issue here is that requesting the execution of named parameterized test by method fails without reporting any tests:
[code]

While the request for the class itself succeeds as expected:
[code]

Strangely this behaviour is only observed when using named parameters, example - https://github.com/MarathonLabs/marathon/blob/test/named-parameterized-tests/sample/android-app/app/src/and

[2021-07-07 03:09] #536 closed

[2021-07-07 03:12] #525 closed

[2021-07-16 19:46] trevjonez opened #540 "Homebrew support - Apple silicon"
I've yet to dig into why and what options there are, but the dependency to `openjdk@8` seems to block use of the tap. Manually download release obviously works fine.

![image](https://user-images.githubusercontent.com/5386503/126000737-6767860f-7965-4478-8df1-a559773f002a.png)

SEO: This is on the Apple M1 MacBook macOS 11.4

[2021-07-18 05:47] Malinskiy commented on #540
Hey @trevjonez
I think this issue should be resolved by updating the https://github.com/Malinskiy/homebrew-tap/blob/master/Formula/marathon.rb#L9 to opendk 11. Unfortunately, I don't have access to a device with Apple's silicon and hence am unable to test the change. Would you be able to test it out and submit a PR to https://github.com/Malinskiy/homebrew-tap?
Thanks!

[2021-07-20 14:31] #540 closed

[2021-07-21 02:31] labelz opened #541 "com.android.tools.build:gradle:4.2.2 not working with marathon"
**Describe the bug**
Getting error on emulator when running marathon with  `com.android.tools.build:gradle:4.2.2`
[code]

but it work well if downgrade to `com.android.tools.build:gradle:4.0.1`

**To Reproduce**
Steps to reproduce the behaviour:
[code]
1. Using `com.android.tools.build:gradle:4.2.2`
2. Build the APK with that version
3. running marathon with that APK

**Expected behavior**
It shou

[2021-07-28 22:12] smugleafdev opened #542 "Failing test not being reported with retry"
With retry on, some tests are failing every time and yet Marathon reports 0 failed tests in both the HTML report and the XML JUnit report.

I believe the only relevant portion of my Marathonfile is this:

[code]

Retry 3 times (runs 4 times), Raw "4 failed", actual failed: 0 (not reporting correctly)
![Screen Shot 2021-07-28 at 7 17 09 AM](https://user-images.githubusercontent.com/20119855/1274023

[2021-07-28 23:30] Malinskiy commented on #542
Already fixed by #535. Will be in the next release

[2021-07-29 17:04] smugleafdev commented on #542
Great! Looking forward to it.

[2021-07-29 17:04] #542 closed

[2021-07-30 06:42] Malinskiy commented on #541
Hey @labelz, thanks for submitting this!

I tried to reproduce your problem and couldn't achieve the same behaviour. I suspect something is wrong with your setup of building the test application. Is there any chance you're not using the "androidx.test:runner:X.X.X" dependency? Or maybe you're using apk splits? Another thing I see from the error log is that you have two apks there, maybe multidex i

[2021-08-03 19:20] mattinger commented on #541
I've had a lot of issues with even using it with 4.0.1.  We're in the process of upgrading to 7.0.0, but we discovered that spoon (which we were using and is a dead product basically) doesn't work on 7.0.0, so we were looking at marathon.  I wanted to do this in steps, and see if would could rip out spoon first and replace it with marathon and then do the 7.0.0 upgrade.  But when i run with AGP 4.

[2021-08-03 19:59] mattinger opened #543 "Issues running under AGP 4.0.1 and 4.2.2"
Project Setup:

Gradle 6.7.1
AGP 4.0.1/4.2.2
Kotlin 1.5.20

When i'm trying to run marathon under those conditions, i'm getting the following error

java.lang.NoSuchMethodError: kotlinx.coroutines.channels.ChannelKt.Channel$default(ILkotlinx/coroutines/channels/BufferOverflow;Lkotlin/jvm/functions/Function1;ILjava/lang/Object;)Lkotlinx/coroutines/channels/Channel;
Finish BugSnag

FAILURE: Build fa

[2021-08-03 20:13] mattinger commented on #543
Looking at MarathonRunner, it seems like the error is actually just getting swallowed and a "Tests Failed" message is output at the indicated line above.  I can also tell from the logcat that the app is never even getting deployed to the VM.

[2021-08-03 20:43] mattinger commented on #543
Further debugging puts the issue here:

[code]

[2021-08-04 05:40] Malinskiy commented on #543
Hey @mattinger, thanks for submitting this!

This particular problem you're experiencing is due to the fact that your build controls the classpath of marathon execution and it looks like the version of coroutines in your classpath is different to the one used by marathon. Please read the section on [choosing the distribution](https://marathonlabs.github.io/marathon/doc/downloading.html#choosing-th

[2021-08-04 16:23] trevjonez commented on #543
this is probably a good  candidate for moving to gradle worker api so we could use the class loader or process isolation feature of it.
https://docs.gradle.org/current/userguide/worker_api.html#changing_the_isolation_mode

[2021-08-04 19:24] mattinger opened #544 "Log files not loading"
Gradle 6.7.1
Java 11
Marathon 0.6.2
AGP 4.2.2

I'm having a bit of trouble with the reports.  They are not loading into the web page.  I suspect that's due to the size, as they seem quite large.  It's almost an entire MB for 1 individual test.  As such, it's very tough for a web browser to load this large of a text file. It seems like some filtering could be applied to reduce the log file sizes.

[2021-08-04 19:34] mattinger commented on #543
FYI @Malinskiy I switched to DDMLIB and it seems to work, so it's definitely localized to ADAM

[2021-08-04 23:40] Malinskiy commented on #543
@trevjonez this was considered before, but due to previous experience with this API it was rejected as an option. We currently plan to rework the gradle plugin to call out to CLI (hence for the JVM). This should provide full control over classpath

@mattinger thanks for highlighting this. ddmlib doesn't use coroutines, hence you don't have classpath conflict (adam uses coroutines extensively). Fro

[2021-08-04 23:42] Malinskiy commented on #544
Possible duplicate of #355 or #381.
Can you start a web-server with the log files and check if that solves the issue?

[2021-08-05 00:17] mattinger commented on #544
I'm not sure why that would be helpful.  We're running under Jenkins, and basically publishing the report directory to the jenkins server.  On that server, the timeline doesn't even render, i assume due to security reasons.  Reports that rely heavily on javascript like this are a big issue for publishing to CI servers.  I have no control over those servers, so i cannot control what is running and

[2021-08-05 01:09] mattinger commented on #543
@Malinskiy I'm running gradle 6.7.1 with the kotlin gradle plugin version 1.5.20.  Unfortunately it seems they have messed up the dependencies for that compiler and it depends on the wrong version of coroutines.

as reported by `./gradlew buildEnvironment`

[code]

I will try forcing it to the 1.5 version of coroutines and see what happens.

[2021-08-05 01:47] mattinger commented on #543
I tried forcing it into other versions of coroutines library in the buildscript classpath, but it didn't work.

[code]

[2021-08-05 02:56] Malinskiy commented on #544
Since you don't have access to your web-server's CSP, the easiest option right now is to download the report files and serve them locally. Another option would be to host a separate HTTP server where you control your CSP fully and serve the reports there, provided you can share the reports storage between your CI (Jenkins) and this new HTTP server.

[2021-08-05 03:00] Malinskiy commented on #543
That's exactly why the usage of gradle plugin is discouraged in the docs: we can't control your classpath. I suggest you try out the CLI version since your classpath is outside of our control at the moment. In the future, it might be possible to use gradle plugin safely (tracked in #442), but we don't have anyone working on that right now. If you wish to help with the development - please reach ou

[2021-08-05 13:10] mattinger commented on #544
I get that fully embedded content might not be the most efficient in all cases, but asking users to download the reports and run their own http servers seems like a heavy burden.  This is i kind of a non starter for us.  Is there a possibility of maybe having an optional way to generate a fully self contained report that will run either in file or dumb server mode?  Even if it's a a pretty heavy r

[2021-08-06 02:39] Malinskiy commented on #544
I'll be happy to review and accept a PR that will generate such a report

[2021-08-06 15:00] pavanagarwal opened #545 "Screenshots for failing tests is missing in the test report"
**Describe the bug**
We cannot see screenshots for failing tests in the html test repot. We do see a blank screen recording and it has actual videos in the reports directory but looking for screenshots that occupy less space. Also is there a way to turn off the screen recording if we have screenshots available by some other property/flag?

**Expected behavior**
- Screenshots should be visible for

[2021-08-07 15:24] Malinskiy commented on #545
Hey @pavanagarwal, thanks for taking the time to submit the issue.
Can you please clarify, are you observing that marathon collects both mp4 and gif at the same time?

Just an FYI, the screen recording configuration is described here - https://marathonlabs.github.io/marathon/ven/android.html#screen-recorder-configuration

The HTML report doesn't show test retries, so if the test succeeded in the e

[2021-08-09 07:41] dilip-tc opened #546 "Sorting Tests in a Class based on its Name"
**Is your feature request related to a problem? Please describe.**
SortingStrategy is currently supporting success-rate and execution-time based on previous run history , so cant able to run the tests in particular order it is defined in the code

**Describe the solution you'd like**
In our case , we need to sort tests based on its name like Ascending order
And for packages need to sort Classes ba

[2021-08-09 08:05] Malinskiy commented on #546
Hey.

Can you please explain why you need this particular feature? Does it bring any performance or stability into the test run?

Thanks

[2021-08-09 08:51] dilip-tc commented on #546
Hey @Malinskiy,
For some apps, we have dependent test cases. Like the first test case provides the data for the second one. In such cases we need to run certain tests in order
In such cases , when the tests are performed in order we able to achieve more successful tests in a less execution time
Thanks,

[2021-08-09 09:15] Vacxe commented on #546
@dilip-tc hey, thanks for the issue. However:

Does I got it correctly that u have depended UI tests? Because if that's true please immediately engage for refactoring.

[code]

If u have 1000 tests in the same class and just a first one is failed it will create a horrible overhead of execution.

---

Please follow those rule:
**Each test should past independently**

@dilip-tc just please to confir

[2021-08-09 12:57] dilip-tc commented on #546
Yes @Vacxe ,
Being aware of the test dependency complications , but still using in very few conditions like in some cases avoiding test dependency make redundant steps which takes higher execution time, other than these few test cases all other test cases are independent , so if there is option to run test cases in order will help to run tests in lesser execution time  
Thanks,

[2021-08-09 14:23] oldLady commented on #544
@Malinskiy Along with this issue, we are also facing the issue where log files generated are of zero bytes.

[2021-08-09 14:28] Malinskiy commented on #544
Log files might be zero because you don't have anything outputted in the logcat during the tests. Is the issue that you expect something there or that you don't want to see empty files?

[2021-08-09 14:41] oldLady commented on #544
Can this be the reason for this.

[code]

[2021-08-10 00:25] Vacxe commented on #546
@dilip-tc so, you have a kind of hack in your UI test implementation, which contradict to paradigm of testing and you wanna to have support it in test runner?

---

What I can advice:
* **Don't create a dependent tests**
* You can create a particular test for each screen without feature flow management
* If you have 3 dependent tests, logically thats means you have only ONE what's named End-To-End

[2021-08-10 04:04] Malinskiy commented on #544
Yes, this is an indication that your classpath contains an incompatible (from an API standpoint) version of ddmlib. Possible ways to solve this include changing the classpath in your build or switching to the CLI version of marathon

[2021-08-10 04:14] Malinskiy commented on #546
@dilip-tc I definitely understand why you would want the test runner to support something like this in your particular situation. However, Marathon's key fundamental values are performance and stability. Having tests depend on each other is a sure way of reducing the stability of test execution.

I see 2 ways to solve your use case:
1. Refactor tests. Move all of your scenarios into one test. To h

[2021-08-10 20:40] pavanagarwal commented on #545
@Malinskiy : Thanks for your response. No Marathon does not collect both mp4 and gifs at the same time.

Screen recording config worked in disabling the videos as well as gifs. Thanks for pointing the config parameter for same.

Is there a link/post handy on generating allure report? I do see allure-results folder reports/marathon path.

I'm still trying to figure out how to fix the missing logs i

[2021-08-11 02:07] Malinskiy commented on #545
If you want to talk about the logs - there is a recently opened ticket #544. Docs also mention the common reason why some things are missing in the report - https://marathonlabs.github.io/marathon/doc/faq.html#my-logsscreenshots-are-missing-from-the-html-report

If there is nothing more related to the screenshots problem then please consider closing the ticket.

As for the allure report, you can u

[2021-08-11 08:48] dilip-tc commented on #546
Thank you for the detailed explanation @Malinskiy  and @Vacxe , Yes @Malinskiy currently using Allure's steps for the tests , will try to refactor the old tests too , Thanks

[2021-08-11 18:41] pavanagarwal commented on #545
Videos/GIFs are now displayed and accessible as per the above mentioned **screen-recorder-configuration** and CSP policy change for video assets in our CI. Thanks @Malinskiy for your quick help on this. We still see an issue in missing log files in both CI and local (even after starting the http server) and I will add that in comment for open issue - https://github.com/MarathonLabs/marathon/issues

[2021-08-11 18:41] #545 closed

[2021-08-11 18:54] pavanagarwal commented on #544
@Malinskiy : Log files are still not loading for us in both local (when we start a http server via python) as well as CI.  On further investigating this with our CI team, we found that the actual log file report name and the log file name that comes out of the request we make on clicking "Log File" link in html report are not same. Here is an example for same:
**Actual logfile name:**
TestClassRel

[2021-08-12 01:34] Malinskiy commented on #544
@pavanagarwal this issue is solved in #536. will be released in 0.6.3. you can use a snapshot version of marathon from develop for now. To build the latest yourself execute `./gradlew :cli:assembleDist`, output is in the `cli/build/distributions/marathon-*-SNAPSHOT.zip`

[2021-09-03 21:22] dilip-tc opened #552 "The Report is not getting generated , Test run failed with java.lang.reflect.InaccessibleObjectException exception"
Marathon 0.6.4

got the same issue as #548 , so upgraded Marathon from Marathon 0.6.2 to Marathon 0.6.4

Initially tried to run the sample app https://github.com/MarathonLabs/marathon/tree/develop/sample/android-app  with the following marathon File, the test run failed with the java.lang.reflect.InaccessibleObjectException  Unable to make field private final java.lang.String java.io.File.path acc

[2021-09-04 03:22] Malinskiy commented on #552
Hey @dilip-tc. Thanks for submitting the issue.
Can you please provide your JRE version?

[2021-09-04 03:26] Malinskiy commented on #552
Upstream issue: https://github.com/google/gson/issues/1875

[2021-09-04 05:28] dilip-tc commented on #552
yes @Malinskiy , having JRE version "1.8.0_152"

[2021-09-04 06:27] Malinskiy commented on #552
Is that Oracle jre or something else?

[2021-09-04 07:58] dilip-tc commented on #552
yes @Malinskiy , it is Oracle jre
    java.runtime.name = Java(TM) SE Runtime Environment
    java.runtime.version = 1.8.0_152-b16
    java.specification.name = Java Platform API Specification
    java.specification.vendor = Oracle Corporation
    java.specification.version = 1.8
    java.vendor = Oracle Corporation
    java.vendor.url = http://java.oracle.com/
    java.vendor.url.bug = http://bug

[2021-09-05 05:52] Malinskiy commented on #552
@dilip-tc would you be able to verify if https://github.com/MarathonLabs/marathon/pull/553 fixes your issue?
there is also additional logging now in debug mode during the start of the test run to double-check which version of JRE you are using

[2021-09-06 08:29] dilip-tc commented on #552
yes @Malinskiy  #553 fixes the issue , report is being generated without exception and the device-files is also being pulled ,
Thanks for the fixing the issue so quickly

[2021-09-06 09:06] Malinskiy commented on #552
No worries at all. I'll close this issue when the PR is merged. Cheers

[2021-09-07 19:02] smugleafdev commented on #500
Update: Now that 0.6.3 is out and incomplete tests fail the test run, I've done some more investigating. It seems that the only thing that causes my incompletes are when a batch includes tests from different test classes. It doesn't matter what activities they start or end on, it doesn't matter how long the tests take. The only thing that seems to make a difference (and does so 100% of the time) i

[2021-09-07 19:49] #500 closed

[2021-09-07 23:57] #552 closed

[2021-09-09 17:13] ganesh0026 opened #555 "Test runner doesn't work properly when test name is 256 characters or more"
**Describe the bug**
Test runner doesn't work properly when test name is 256 characters or more.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a test with test name 256 character or more
2.Execute the marathon binary.

**Expected behavior**
Test runner should run successfully.

**Logs and reports**

**Devices (please complete the following information):**
 - Device: Any Device
 - O

[2021-09-10 01:17] Malinskiy commented on #555
Hey @ganesh0026, thanks for submitting the issue. Can you please define "doesn't work properly"? What specifically doesn't work for you?

[2021-09-10 01:23] tech-ganesh commented on #555
Hi @Malinskiy, I have observed the "File too long" error.
We have lot of tests with large test name and runner didn't progress and trying to rerun the incomplete tests.

[2021-09-10 01:52] Malinskiy commented on #555
This is an expected behaviour: most Linux filesystems have a limit of 255 symbols for the path, windows - 260, hence the limitation that marathon checks.

Generated report file paths will be truncated and the presence of this error doesn't stop the test run. This is an issue with your code rather than marathon. Please rename your tests so that the generated files are within the limits of the OS.

[2021-09-10 02:07] tech-ganesh commented on #555
Yes, There is OS level limit of 256 symbols for path in MacOS.

We have observed the file path was not getting truncated with the test runner and throwing the error "File too long".
The runner was adding some extra random text at the end of file name.

We have large number of tests ~3k hence renaming each test wont be a good option for now.

[2021-09-10 02:11] Malinskiy commented on #555
Which version of marathon are you using?

[2021-09-10 02:15] tech-ganesh commented on #555
marathon v0.6.4

[2021-09-10 03:53] #555 closed

[2021-09-17 13:09] tech-ganesh opened #558 "Test execution doesn't complete with batchingStrategy"
**Describe the bug**
The test execution doesn't complete with `batchingStrategy` mentioned below. The test execution completes around ~30% and later got hanged. We have tested on different Mac Machines.

batchingStrategy:
  type: "fixed-size"
  size: 50

**To Reproduce**
Steps to reproduce the behavior:
1. Run around 3k test with the above configuration and check the output

**Expected behavior**

[2021-09-17 14:25] Malinskiy commented on #558
Hi, thanks for submitting the issue. Could you please attach the logs in debug mode? This will help investigate the issue

[2021-09-17 15:14] tech-ganesh opened #559 "Screenshots are saved as GIF instead of jpg/jpeg"
Screenshots are saved as GIF instead of jpg/jpeg and the opening GIF cannot load.

[2021-09-17 15:40] Malinskiy commented on #559
Hi @tech-ganesh . Thanks for reporting this.

Screenshots are saved as gif by design.

Can you please check the size of the screenshot file? Is it empty by any chance? If not, could you attach an example?

Also, please attach an execution log where this happens.

Thanks

[2021-09-30 04:05] udaymuthu opened #560 "Execute cucumber features based on tags in marathon"
I use cucumber android to run my BDD tests. How can I specify the cucumber tags in marathon.
https://github.com/cucumber/cucumber-android

[2021-09-30 04:22] Malinskiy commented on #560
Hey @udaymuthu. Thanks for submitting the issue.
I'm not familiar with cucumber, but if my assumption that tags are specified via instrumentation arguments is true (https://github.com/cucumber/cucumber-jvm/pull/597) you can use [this configuration option](https://marathonlabs.github.io/marathon/ven/android.html#instrumentation-arguments).

[2021-09-30 04:22] Malinskiy commented on #559
@tech-ganesh can you please provide answers for the above? thanks

[2021-09-30 04:23] Malinskiy commented on #558
@tech-ganesh just checking you will be able to provide debug logs, thanks

[2021-09-30 04:47] udaymuthu commented on #560
Does marathon support custom test runners. In my case, I need to pass a cucumber test runner

https://developer.android.com/studio/test/command-line#AMSyntax
adb shell am instrument -w <test_package_name>/<runner_class>
Eg: adb shell am instrument -w com.mypackage.app.test/cucumber.api.android.CucumberInstrumentation

Can I provide my cucumber options via
-e
https://developer.android.com/studio/te

[2021-09-30 04:58] Malinskiy commented on #560
The test runner class is specified via apk (https://github.com/MarathonLabs/marathon/blob/develop/vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/ApkParser.kt#L42)

When you build your app using gradle you specify a custom test runner using `testInstrumentationRunner` parameter and it's embedded into the apk. Marathon just picks it up from the built apk automatically so y

[2021-10-05 21:01] simonpoole opened #561 "Infrequent ConcurrentModificationException"
**Describe the bug**
I see infrequent CMEs (see below) when running against 6 Android 11 / API 30 stock x86-64 emulators.  As these are infrequent no big deal, I assume the corresponding log file is missing, but that would be a bit painful to determine.

**To Reproduce**
Run a lot of tests :-)

**Expected behavior**
No CMEs

**Logs and reports**

Pulling into .... coverage
Exception in thread "Log

[2021-10-05 21:25] simonpoole opened #562 "Documentation issue gradle plugin wants "codeCoverageEnabled = true" not "isCodeCoverageEnabled = true""
**Describe the bug**

The documentation claims that the gradle configuration should contain isCodeCoverageEnabled = true to enable code coverage https://marathonlabs.github.io/marathon/doc/configuration.html#code-coverage this however does not work, codeCoverageEnabled = true however does.

**To Reproduce**

gradle plugin 6.5, both ddmlib and ADAM vendor variants. Seting _isCodeCoverageEnabled = t

[2021-10-05 22:17] Malinskiy commented on #562
Hey @simonpoole, thanks for submitting the issue

I double-checked the configuration code and I believe you're referring to the groovy only configuration for gradle plugin. For kts `isCodeCoverageEnabled` does work since it's a property on the extension.

Could you please confirm you're using groovy syntax?

PS: if you need to collect the code coverage you should be using adam module: work on ddml

[2021-10-05 22:19] Malinskiy commented on #560
@udaymuthu could you please close the issue if I've answered the question? thanks

[2021-10-05 22:24] simonpoole commented on #562
Yes using groovy. Sorry mentioned that I wasn't using Kotlin in the other issue but forgot it here.

[2021-10-06 03:20] udaymuthu commented on #560
I tried running the app from cucumber-android.
https://github.com/cucumber/cucumber-android/tree/main/cukeulator

Marathon runs only the Non cucumber (Junit ) tests. Marathon is not running cucumber tests. (https://github.com/cucumber/cucumber-android/blob/main/cukeulator/src/androidTest/java/cucumber/cukeulator/test/InstrumentationNonCucumberTest.java)

Cucumber Project: https://github.com/cucumb

[2021-10-06 06:34] simonpoole commented on #562
The problem was because Adam requires at least gradle 6.8 (not documented, there's an issue with the Kotlin runtime with earlier versions) I started off with the ddmlib implementation and there is no hint that coverage doesn't work with it, so again a documentation issue.

[2021-10-06 06:54] simonpoole commented on #447
This "goes away" / is fixed if you use gradle 6.8.

[2021-10-06 07:26] simonpoole opened #565 "No coverage files with Android 11/ API 30"
**Describe the bug**
No coverage files are written on Android 11 / API 30 (this is relevant as from next month on this is the required target sdk for distribution on the play store).

For the avoidance of doubt: contrary to previous Android versions the files are not written to the _coverage_ directory that marathon creates. It isn't an issue with the files not being pulled.

**To Reproduce**
The

[2021-10-06 07:42] Malinskiy commented on #560
Thanks for the links @udaymuthu, they helped a lot!

Upon further investigation, the issue seems to stem from the cucumber's dynamic test creation nature: there is no sane way to get the expected test list unless executing tests on an actual device. This makes the current implementation unable to get the expected list of tests and hence not even try to execute the tests.

I have an experimental br

[2021-10-06 08:11] Malinskiy commented on #447
For your particular setup using 6.8 solves the problem, however it is not just a compatibility matrix since every build's classpath is unique

[2021-10-06 09:40] Malinskiy commented on #565
Can you please follow the permissions advice in https://marathonlabs.github.io/marathon/ven/android.html#syncpull-files-from-device-after-test-run and see if that helps?

[2021-10-06 09:46] simonpoole commented on #565
I have that set, see https://github.com/MarcusWolschon/osmeditor4android/blob/android11/src/androidTest/AndroidManifest.xml

Investigating a bit further, post running the test it seems as if the permission wasn't granted (the marathon log however claims it was), see:

![Screenshot_1633514487](https://user-images.githubusercontent.com/1011860/136182734-e0c49235-88d1-4085-b8e7-a28934025051.png)

[2021-10-06 10:31] simonpoole commented on #565
Further data point, granting the permission via adb to the test app via the package manager does not actually work,:

[code]

according to https://developer.android.com/training/data-storage/manage-all-files#enable-manage-external-storage-for-testing
and irl

[code]

works.

[2021-10-06 10:52] Malinskiy commented on #565
The grant of this permission happens exactly like this:
https://github.com/MarathonLabs/marathon/blob/develop/vendor/vendor-android/adam/src/main/kotlin/com/malinskiy/marathon/android/adam/AndroidDeviceTestRunner.kt#L141

Can you please attach the execution log rather than logcat please? :)

[2021-10-06 11:29] simonpoole commented on #565
I was just going to correct myself and point out that that looks right, but see below.

The log always indicated that the permission was granted. But the actual problem is something completely else, and is partly a documentation issue.

The instructions say _Starting with Android 11 your test application will require MANAGE_EXTERNAL_STORAGE permission:_ that is confusing terminology because that i

[2021-10-06 11:38] Malinskiy commented on #565
Yes, you have to grant this permission to the application under test: it's process is doing the write operations AFAIK.

Looking at the logs of the execution I also found
[code]
Might also need the same permission for other reasons.

Anyways :+1:

[2021-10-06 12:01] simonpoole commented on #565
That's the problem, if the MANAGE_EXTERNAL_STORAGE is granted you can't detect such an error any more.

[2021-10-07 07:32] Malinskiy commented on #560
FYI I've created a sample app here https://github.com/MarathonLabs/marathon/tree/feature/device-test-parser/sample/android-cucumber-app

[2021-10-07 11:18] simonpoole opened #570 "Use app writeable directory for coverage files on Android 11"
**Is your feature request related to a problem? Please describe.**
Currently generating coverage files on Android 11 and later requires requesting and granting the global MANAGE_EXTERNAL_STORAGE permission to the app under testing, as the /sdcard/coverage directory created is otherwise not accessible by the app. While this workaround can be restricted to the debug version of the app, this is natur

[2021-10-08 07:33] Malinskiy commented on #570
If you specify anything in the pull configuration - the `MANAGE_EXTERNAL_STORAGE` permission will be granted. The problem here is because most of the extensions on the test side write to specific directories that require this permission, e.g. allure-kotlin writes to /sdcard/allure-results. Also I don't see any reason why the `Download` directory will always be named this way (hello custom firmware

[2021-10-08 07:50] simonpoole commented on #570
The name and special handling of Download is baked fairly hard in to Android, this is probably the last thing a custom firmware would want to change, so the risk here is very low. However if that is a concern, then making the coverage directory configurable is the way to go (1).

But that isn't a problem, the app only -actually- gets the permission if it has requested it, so there is no need to ch

[2021-10-09 13:18] #562 closed

[2021-10-18 09:47] PaladiRka commented on #294
Link was expired
But problem is actual

[2021-10-18 10:02] Malinskiy commented on #294
@PaladiRka The project migrated to a different org in 2 years. Please see https://marathonlabs.github.io/marathon/doc/downloading.html#gradle

[2021-10-18 10:50] PaladiRka commented on #294
Thank you

[2021-10-18 11:22] PaladiRka commented on #388
@dmzhakov please, if you resolve your problem and closing issue, explain what helped you.

[2021-10-18 12:23] Malinskiy commented on #388
@PaladiRka you need to apply the plugin on the gradle module with Android plugin. You're likely applying it to the root module at the moment

[2021-10-18 12:53] PaladiRka commented on #388
Thank you.

[2021-10-20 23:27] #357 closed

[2021-10-31 05:50] Malinskiy commented on #480
Closed with #539

[2021-10-31 05:51] #461 closed

[2021-10-31 05:51] Malinskiy commented on #442
Closed with #573

[2021-10-31 05:51] #442 closed

[2021-10-31 05:53] Malinskiy commented on #359
PR #523 introduced the ability to test multiple modules using one test run. This kind of helps with having an aggregated test report, but only works using the CLI. Gradle plugin is not aware of this feature.

[2021-11-01 22:45] #480 closed

[2021-11-09 06:52] alirezaafkar opened #579 "Could not get unknown property 'AggregationMode' for extension 'marathon'"
According to the docs, for pulling files form device I use this configuration in gradle(groovy)

[code]

and build fails with this exception:

`Could not get unknown property 'AggregationMode' for extension 'marathon' of type com.malinskiy.marathon.MarathonExtension.`

What is wrong in my configuration?

- marathon version: 0.6.5
- gradle version: 7.2

[2021-11-09 07:09] Malinskiy commented on #579
Aggregation mode is an enum, you need an import statement at the top of your file or use the FQDN

[2021-11-09 07:14] alirezaafkar commented on #579
I tried this:
` com.malinskiy.marathon.config.vendor.android.AggregationMode.POOL`

and this:
`com.malinskiy.marathon.android.configuration.AggregationMode.POOL`

and didn't work.

` Could not get unknown property 'com' for extension 'marathon' of type com.malinskiy.marathon.MarathonExtension.`

[2021-11-09 07:49] Malinskiy commented on #579
For 0.6.5 the configuration for file sync is in the `com.malinskiy.marathon.android.configuration` package (https://github.com/MarathonLabs/marathon/blob/0.6.5/vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/configuration/FileSyncConfiguration.kt)

[code]

Can you please try using the FQDN above and see if it fixes the problem?

[2021-11-09 07:58] alirezaafkar commented on #579
Nope, Should I use kotlin script? I use groovy.

[2021-11-09 08:26] Malinskiy commented on #579
With the example above did the error message change?

I would try switching to kts if I was you.

 In the meantime I can try reproducing the Groove configuration.

[2021-11-09 08:27] alirezaafkar commented on #579
error message still is `Could not get unknown property 'com' for extension 'marathon' of type com.malinskiy.marathon.MarathonExtension.`

[2021-11-09 08:55] Malinskiy commented on #579
I got so used to Kotlin that I missed the `new` for calling constructor in Groovy:

[code]

[2021-11-09 09:09] alirezaafkar commented on #579
Worked :)) Thanks.

[2021-11-09 09:09] #579 closed

[2021-11-10 15:21] trevjonez commented on #570
What about doing a separate utility APK with an out of process service that utilized [AndroidX FileProvider API's](https://developer.android.com/reference/androidx/core/content/FileProvider) to expose files as content URI's to the test process?

Can we even customize where the instrumentation writes the `.ec` file? Perhaps this could be overcome by adding a test run listener to the test process to

[2021-11-11 01:21] Malinskiy commented on #560
@udaymuthu did you have a chance to test the new test parser out and execute tests based on tags?

[2021-11-11 01:21] Malinskiy commented on #559
Closing due to inactivity

[2021-11-11 01:21] #559 closed

[2021-11-11 01:21] Malinskiy commented on #558
Closing due to inactivity

[2021-11-11 01:21] #558 closed

[2021-11-11 01:44] Malinskiy commented on #447
Closed in 0.7.0 by #573

[2021-11-11 01:44] #447 closed

[2021-11-11 01:44] Malinskiy commented on #458
Closed in 0.7.0 by #573

[2021-11-11 01:44] #458 closed

[2021-11-11 01:44] Malinskiy commented on #460
Closed in 0.7.0 by #573

[2021-11-11 01:44] #460 closed

[2021-11-11 01:45] Malinskiy commented on #543
Closed in 0.7.0 by #573

[2021-11-11 01:45] #543 closed

[2021-11-12 11:14] vlsi opened #584 "Use Action<T> instead of Closure and T.()-> in Gradle plugin APIs"
For instance,

https://github.com/MarathonLabs/marathon/blob/afcaecff4eca59b6430d846b2c05ac0f182cdebe/marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/gradle/MarathonExtension.kt#L78-L84

should have been

[code]

That would work for both Kotlin and Groovy.

[2021-11-12 11:55] Malinskiy commented on #584
Hi @vlsi, thanks for submitting the issue!
Since this is a bug, can I please ask you to be specific as to what is not working (a particular use-case maybe)? I'd like to see a behaviour that is expected and behaviour that is observed for a bug report.

Or maybe I misunderstood and this is a refactoring request to rework the current codebase using different APIs which I'd be happy to do. Just wanted

[2021-11-12 11:59] vlsi commented on #584
I do not think it affects clients directly, however,
1) It duplicates the code (so bugs might be possible)
2)  The current calls to `analytics {...}` would invalidate, and re-create `AnalyticsConfig` objects, so it basically makes impossible to configure the options from different places (e.g. one option from one plugin and another option from another one)

[code]

3) `Closure` arguments do not pr

[2021-11-12 12:04] Malinskiy commented on #584
Nice, I didn't know about the IDE behaviour.
Would you consider creating a PR with the proposed changes? I'd be happy to review and accept it if you have the time.

[2021-11-12 12:06] vlsi commented on #584
Oh, I just noticed your tweet on Gradle plugin. I've never worked with Android / iOS projects, so I'm afraid I won't have time for the PR.

[2021-11-13 11:55] Malinskiy commented on #584
The plugin is a generic Gradle project and doesn't require any knowledge about Android or iOS, I'd be happy to assist you with the setup.
But if it's time that's the issue - that's okay as well, I'll pick the suggestion when I'll have some time for this.

[2021-11-13 12:04] vlsi commented on #584
It is more of a time issue (which is consumed by https://github.com/apache/jmeter/pull/674), and Android/iOS was more like "I'm not sure I would be able to test it appropriately".

[2021-11-14 06:45] #546 closed

[2021-11-14 06:52] Malinskiy commented on #541
Any update on this @labelz? Did you figure out a solution?
The problem that you have here is related to the way you're assembling the test apk. Since you're specifying

[code]

marathon assumes that you have is in your code with something like:
[code]

See the [official docs page](https://developer.android.com/training/testing/junit-runner) for more info

[2021-11-14 06:57] Malinskiy commented on #465
This should not be an issue in 0.7.0 since the paths go through escaping for anything besides alphanumeric values. I believe it worked fine in a VM last time I checked this

[2021-11-14 16:57] simonpoole commented on #570
See my example above.

[2021-11-15 23:58] trevjonez opened #589 "Feature Request: Standalone marathon yml file generation task"
**Is your feature request related to a problem? Please describe.**
Currently our CI setup generates a marathon file via a bash heredoc setup, that config is then packaged with apk's and sent to an external system for execution.

Being able to utilize the gradle DSL to replace the bash scripting could be a big win for developer UX when running locally as the marathon file would become dynamic and o

[2021-12-13 08:05] neestell opened #592 "Cannot use relative apks paths as it was in previous versions"
Paths of applicationApk and testApplicationApk are not relative now.

**To Reproduce**
Steps to reproduce the behaviour:
**It was** possible to run test from the root of the repository with apks paths
**Now I must put** ../../ prefix before every apks in case project has multiple structured configuration files
 applicationApk: "../../../../app/build/outputs/apk/dev/debug/app-dev-debug.apk"
  testA

[2021-12-13 09:57] Malinskiy commented on #592
Hey @neestell, thanks for submitting the issue. Here is a quote from the docs:

The problem is related to inconsistent test runs: depending on the current work directory the run would previously result in a completely different behavior because the path to files would be relative to the unknown workdir.

With the new changes every relative path is resolved relative to the Marathonfile which has a

[2021-12-14 15:00] neestell commented on #592
Thank you! This helped

[2021-12-16 15:43] hborders opened #593 "Upgrade to logback 1.2.8 to resolve LOGBACK-1591"
[`LOGBACK-1591`](https://jira.qos.ch/browse/LOGBACK-1591) says there is an RCE vulnerability if:

http://logback.qos.ch/news.html

It seems best to upgrade to `1.2.8`.

[2021-12-17 01:29] Malinskiy commented on #593
Thanks for pointing this out, will be close with the next release

[2022-01-11 09:38] GodArtGithub commented on #465
bug repruduce in version 0.7.0

Logs:
[0;39mmarathon v0.7.0: Test run finished
Exception in thread "Thread-3" java.io.FileNotFoundException: ...\app\build\reports\marathon\debugAndroidTest\devices\omni\127.0.0.1:5037:26d6ca78.json (The filename, directory name, or volume label syntax is incorrect)

[2022-01-11 10:15] Malinskiy commented on #465
Seems like the the device serial number is not escaped there, I’ll check and get back to you

[2022-01-21 04:00] #584 closed

[2022-01-25 20:07] ibrayevabay opened #595 "Provide Global hooks RunListener after\before all tests (like testRunStarted, testRunFinished in RunListener)"
**Is your feature request related to a problem? Please describe.**

We are using custom implementation of **org.junit.runner.notification.RunListener** in our Android project.

In testRunStarted hook we create new test run in TestRail TMS (1 time for 1 test run), and then in testFinished hook we send to created test run - test result (success/fail)

Problem: on each separated test execution usingM

[2022-01-25 21:12] tagantroy commented on #595
Hello @ibrayevabay,

I don’t think that it is possible to provide hook for global runlistener. Probably it is better to add new or adapt existing API for this use case and integrate on test runner side.
I was thinking about adding integration for https://reportportal.io/ long time ago, but abandoned my draft. @Malinskiy what do you think about adding support for external real-time reporting tools?

[2022-01-25 21:19] tagantroy commented on #592
Closing this issue, feel free to reopen if needed.

[2022-01-25 21:19] #592 closed

[2022-01-26 03:02] Malinskiy commented on #595
The problem here is that running tests using marathon inherently means you have 1+ runs in terms of JUnit. So the before all tests will be called multiple times (e.g. you have 2 devices and there are 2 instances of JUnitCore that bootstraps running tests).

My suggestion is to implement the analytics solution on marathon's side: this is the only place where you have full visibility over the test r

[2022-01-26 08:24] tagantroy commented on #595
Reporter interface doesn’t support realtime reporting. Should we come up with new API?

[2022-01-26 09:02] carlosrivin commented on #233
Hello @Malinskiy. I've just tried to do exactly what is described here. We recently migrated from Spoon to Marathon and this is our last missing piece. If this still doesn't exist. What would be a good alternative from JUnit Suites?

[2022-01-26 09:14] Malinskiy commented on #233
@carlosrivin unfortunately this doesn't exist, but using an annotation on tests and filtering based on that annotation is the best approximation for suite behaviour

[2022-01-26 09:49] carlosrivin commented on #233
Thanks! That was my guess. Thanks for the quick reply.

[2022-01-26 10:59] Malinskiy commented on #595
We have a real-time interface, but allure reporter doesn’t need realtime tracking. Does this use-case need real-time reporting or after-test-run is okay @ibrayevabay ?

[2022-01-26 18:22] cosic commented on #344
@Malinskiy Hi. I've got similar issue with stuck test. But test doesn't run app on device in my case.
Such issue I've got on MacBook with M1 Chip. I've tried to change ADAM on DDMLIB, but got the same error. There aren't any issue on MacBook with Intel Chip and Ubuntu OS. Could you help me to figure out with issue? I've add "debug: true" param but didn't got additional logs.

Enviroment:
[code]

M

[2022-01-26 21:45] Malinskiy commented on #344
@cosic from the log you've attached you have a test that takes longer to execute than 2 minutes. Since you have 1 uncompleted retry quota it tries again and fails in a bit more than 4 minutes. I'd suggest either increasing the test timeout for the batch or investigating why your device can't finish the test (screenshots, video, logs)

Check the timestamps below in the relevant section of the log.

[2022-01-27 19:01] cosic commented on #344
@Malinskiy Thx! I've found mistake. You made me think. Correct command to start ui test by `adb` in my case:
[code]
and it works as well. So I asked myself what java version I use. It turned out that `11.0.12 (x86_64) "Oracle Corporation"`. I changed it on `11.0.12 (arm64) "OpenJDK"` and It works now and more quickly than before.

[2022-01-31 06:08] abay-ibrayev commented on #595
Hello, hmm, actually for my task I need real-time **after-each-test** hook interface with ability to access executed test's details. To explain it more clearly please look at example below:
![example_test](https://user-images.githubusercontent.com/19988967/151746202-33e99f35-7b19-4fd7-952f-e0fdaf38af79.png)
We are using executed test's description to get custom annotation for each autotest
in test

[2022-01-31 06:23] Malinskiy commented on #595
@ibrayevabay if it’s the real-time reporting you’re after then you’ll have to extend the https://github.com/MarathonLabs/marathon/blob/5964ce78feb90c785b46ff44b1718f782c77d9b4/core/src/main/kotlin/com/malinskiy/marathon/analytics/internal/sub/TrackerInternalAdapter.kt and extend `trackTest` method. There already examples in the codebase that do this task for graphite, influx and influx2.

The only

[2022-01-31 08:11] abay-ibrayev commented on #595
Thanks for the comprehensive answer to my question, I will look at this solutions and also investigate if will be possible to use after-test-run hooks with TestRail API.

[2022-01-31 08:11] #595 closed

[2022-02-01 21:33] smugleafdev opened #596 "Marathon ignoring InfluxDB config"
I created a new empty InfluxDB 1.8 database and pointed Marathon to it from my Marathonfile as the docs instructed, but nothing happens. With debug on, I don't see it doing anything with InfluxDB. Otherwise, I'm able to run Marathon fine.

Am I missing something?

Marathon v0.6.5

[code]

[2022-02-02 00:23] Malinskiy commented on #596
@smugleafdev I believe you're trying to use the new configuration format from 0.7.0 in 0.6.5. the structure of the analytics configuration had to be changed in order to support simple wrapper rewrite of the gradle plugin.

I suggest you upgrade to 0.7.0 or I can provide a configuration for 0.6.5 if you need it

[2022-02-02 00:59] Malinskiy commented on #596
Here is the sample of configuration that should work for 0.6.5:
[code]

The current way how docs are published only allows us to show docs for the latest version. If you have any idea on how to publish multiple versions using jekyll - feel free to suggest. I know it hurts the user experience.

[2022-02-04 02:12] #465 closed

[2022-02-07 01:52] ZakTaccardi opened #600 "Please publish sources jar"
Would love to be able to directly view source code/docs in Android Studio

For android subprojects (requires AGP 7.1): https://developer.android.com/studio/releases/gradle-plugin#publish-javadoc-jar
For jvm subprojects: https://docs.gradle.org/current/userguide/publishing_maven.html#publishing_maven:complete_example

[2022-02-07 21:19] ZakTaccardi opened #601 "Time to start tests is slow compared to Spoon/AGP"
The time between initial task execution when `marathonDebugAndroidTest` begins and the first test begins executing is quite slow.

I have a project with 8 empty android tests. For fully cached builds (when everything has already been built), I tested with Marathon, Spoon, and connectedAndroidTest. Here were my results:

[code]

There seems to be a significant delay (30+ seconds) when `:marathonDeb

[2022-02-07 21:21] tagantroy commented on #601
Hi @ZakTaccardi, could you create sample project to help us reproduce and profile this issue?

[2022-02-08 00:54] ZakTaccardi opened #602 ":buildSrc:generatePrecompiledScriptPluginAccessors failing due to marathon plugin"
Seeing a series of these errors:

[code]

My guess is that there's some weirdness with how marathon generates plugin script accessors for precompiled kotlin gradle script plugins.

I'm guessing line in question is here: https://github.com/MarathonLabs/marathon/blob/e301ffb7ce14adce33973c9fe98bfa64c8454401/marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/gradle/MarathonPlugin.kt#L32

N

[2022-02-08 00:57] ZakTaccardi commented on #602
workaround is to do this:

[code]

[2022-02-08 02:18] Malinskiy commented on #602
The reason for accessing root project is to partially mitigate your issue #601.
New marathon plugin extracts the cli binary if it's not present. This has to happen once for whole project so a task on the root project is doing just that.

I'm not exactly sure what happens here with your project init. Can you create a sample project that reproduces the problem?

[2022-02-08 02:31] ZakTaccardi opened #603 "Is Java 11 required?"
We're currently in a pre-AGP 7.0 world where our CI forces us to be on Java 8, so I hit this issue when attempting to add marathon to the project.

Is it intentional that marathon requires Java 11? IMO it would make sense to align with the minimum required version of Marathon's AGP version.

I checked the release notes and didn't see anything about a Java 11 bump

[code]

[2022-02-08 02:35] Malinskiy commented on #603
Highly likely that this is just a missing block `kotlinOptions.jvmTarget = "1.8"` in the gradle plugin definition. Should be trivial to fix

[2022-02-08 02:37] Malinskiy commented on #600
We publish the sources as this is a requirement from maven central to upload any release. E.g. https://repo1.maven.org/maven2/com/malinskiy/marathon/core/0.7.0/

Can you please be more specific with the problem, e.g. module that doesn’t have sources?

[2022-02-08 02:43] ZakTaccardi commented on #602
sure! will take some time to create a shareable reproducer, but I can hopefully get one to you in a few days.

Hopefully there's a more idiomatic way to handle this than direct root project access from the subproject. I asked about it on [gradle slack](https://gradle-community.slack.com/archives/CAHSN3LDN/p1644288000023429)

[2022-02-08 02:43] ZakTaccardi commented on #601
sure! will take some time to create a shareable reproducer, but I can hopefully get one to you in a few days.

[2022-02-08 02:46] ZakTaccardi commented on #603
Awesome! Would definitely appreciate a `0.7.1` release with this fix in it as I would be able to merge marathon support into our codebase much sooner 👍

[2022-02-08 02:50] ZakTaccardi commented on #600
Actually I don't know what changed but I'm now getting sources correctly through Android Studio! My bad

[2022-02-08 02:50] #600 closed

[2022-02-08 03:04] ZakTaccardi commented on #600
I think what may have somehow contributed to this was that I originally was missing the `:configuration` artifact as its a runtime dependency of `-gradle-plugin` - so both needed to be declared

[code]

In https://repo1.maven.org/maven2/com/malinskiy/marathon/marathon-gradle-plugin/0.7.0/marathon-gradle-plugin-0.7.0.pom

[code]

You may want that one to be a `compile` dependency

[2022-02-08 04:42] Malinskiy commented on #600
It is an `implementation` dependency in the code, no idea how it transformed into a runtime one tbh

https://github.com/MarathonLabs/marathon/blob/develop/marathon-gradle-plugin/build.gradle.kts#L31

[2022-02-08 07:40] Malinskiy commented on #603
@ZakTaccardi would you be able to verify #604 fixes the problem for you?

Thanks!

[2022-02-08 07:44] Malinskiy commented on #601
By the way, is this problem related to the first execution or any subsequent execution as well?
The reason for the question is the CLI is cached locally after the first execution and should be very quickly reused on the next test run. Unless you changed the version of the Gradle plugin.

[2022-02-08 11:12] #603 closed

[2022-02-08 16:07] ZakTaccardi commented on #603
any recommendations on how I can test before publishing a release?

And not sure if it matters, but just want to point out that I was receiving an error in both:

[code]

But the PR only seems to update `marathon-gradle-plugin`

[2022-02-08 18:01] ZakTaccardi commented on #601
the first execution took an incredibly long time (prob something to do with resource fetching). Prob related to my work's VPN. So much so that I thought the marathon task was just hanging. Follow up executions where much quicker, but still significantly slower compared to Spoon/AGP, and why I filed this issue.

Does marathon cache the install of the APK? If the APK is already installed - no need t

[2022-02-08 23:32] Malinskiy commented on #601
@ZakTaccardi can you please be a bit specific with ‘increadibly long’? Did you measure the first execution? Please provide the log with timestamps.

Marathon extracts everything from a local file so it doesn’t depend on your internet connection. Did you try to use CLI to compare the performance?

To answer your second question: no, marathon doesn’t cache installation of the APK and never will: rea

[2022-02-08 23:45] Malinskiy commented on #603
Publish local version to .m2 and use that in your project. Configuration module already has target jvm 1.8 so no changes needed there.

There is a gradle task to do what you need, please refer to the [docs](https://marathonlabs.github.io/marathon/dev/contributing.html#marathon-gradle-plugin)

[2022-02-09 18:38] ZakTaccardi commented on #603
after testing, the issue still exists. `KotlinCompile` isn't enough. `JavaCompile` needs some love too. The following needs to be added:

[code]

After adding those, can confirm that the issue is fixed

[2022-02-09 18:56] ZakTaccardi opened #605 "local publishing issue plugin with ID not find"
Minor, but after confirming that the #603 is fixed via https://github.com/MarathonLabs/marathon/issues/603#issuecomment-1034075741

An unrelated issue appeared around publishing locally:

[code]
I get the following exception when building my project.

[code]

In my `settings.gradle.kts` files for both `buildSrc` and the main build, I've specified:

[code]

Does the `./gradlew publishDefaultPublica

[2022-02-09 22:49] ZakTaccardi commented on #603
note: I'd submit a PR but company VPN makes that difficult at the moment

[2022-02-10 00:19] ZakTaccardi commented on #605
posted about this in gradle slack too https://gradle-community.slack.com/archives/CAHSN3LDN/p1644451655732629

may just be a gradle issue but still not sure as this is the first time I've attempted a local included build of a plugin

[2022-02-10 15:15] smugleafdev opened #607 "Analytics Configuration randomly breaks batching"
**Describe the bug**
Batching of tests often stops about halfway into a test run. See screenshot.

I have InfluxDB setup and Marathon sending data to it. No sorting strategy, no changes to my batching strategy. Just analytics config set up.

Tried with 0.6.5 and 0.7.0, didn't notice a difference.

![Screen Shot 2022-02-08 at 8 10 29 AM](https://user-images.githubusercontent.com/20119855/153435498-

[2022-02-11 01:46] Malinskiy commented on #607
Hey @smugleafdev
Can you please provide the information in the issue template? It’s hard to understand what is the problem just by looking at the report.

Here is what is in the issue template:
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Full configuration
2. Any additional information about the device provider (de

[2022-02-11 15:19] smugleafdev commented on #607
Updated

[2022-02-12 00:41] Malinskiy commented on #607
From your configuration I assume you just started using analytics configuration and your data is missing in the TSDB.
Do you have `No execution time found for` for the tests that you see in the second half of the execution?

The logic there is that you're using duration parameter for the batch and it's specified as 200 seconds. If a particular batch in total is already expected to have take longer

[2022-02-19 14:58] simonpoole commented on #602
FWIW I currently get the, maybe the same, error

    * Where:
    Build file 'C:\Users\simon\git\osmeditor4android\build.gradle' line: 55

    * What went wrong:
    A problem occurred evaluating root project 'osmeditor4android'.

gradle 7.0, groovy config, marathon plugin 0.7.0

Relevant stacktrace
[code]

PS: this is independent of how I configure the plugin in the build script.

[2022-02-22 06:04] #593 closed

[2022-02-28 17:13] stMayhem opened #613 "Marathon script fails if apk file contains brackets"
Marathon script fails if testing apk file contains brackets.
**STR**:

1. Name the file so that the name includes brackets. For example: test(1).apk.
For this In _android.defaultConfig_ section of app level _build.gradle.kts_ add:
`setProperty("archivesBaseName", "test(1)")`
4. Run `./gradlew marathon`
5. See error in console: `com.malinskiy.adam.exception.RequestRejectedException: Unexpected exit

[2022-03-01 00:16] ZakTaccardi opened #614 "I've pulled a screenshot using a `FileSyncEntry` - how do I view it in the marathon report?"
The marathon config:

[code]

The screenshot pulled:

<img width="555" alt="Screen Shot 2022-02-28 at 7 10 23 PM" src="https://user-images.githubusercontent.com/461114/156080048-eedd581f-baf0-45e6-a7dd-46971580898a.png">

However, I only see the video in the report.

My use case is to view the screenshots taken during the a test run within the Marathon report (alongside the video). How can I do th

[2022-03-01 00:44] ZakTaccardi opened #615 "Marathon creates a test ID per test. Can I access it at test runtime to display screenshots in the marathon report?"
Marathon generates a file like:

[code]

As far as I know, marathon does not directly support taking screenshots during tests (I don't really understand what `RecorderType.SCREENSHOT` does as AFAIK Marathon has no hooks to actually take multiple screenshots during test time), so I need to somehow rework AndroidX's `ScreenCaptureProcessor` to scope its screenshots to Marathon. Given that the file a

[2022-03-08 19:51] sonamkuk opened #616 "Allure reports not generating after upgrading allure version from 2.8.1 to 2.9.4 with Marathon library"
I am working on generating allure reports with Marathon library for my Espresso automation test to embedd screenshots in the report. The test reports were generating fine with screenshots for below configuration
Allure-gradle @2.8.1
Marathon-gradle plugin @0.6.2
Gradle 6.0

Since we migrated to Gradle 7.0 and we had open issues of multiple getters with allure-gradle version 2.8.1, so I upgraded al

[2022-03-09 02:54] Malinskiy commented on #616
Hey @sonamkuk. Thanks for submitting this issue. Could you please explain why this particular problem is an issue with marathon? The output directory for the report is bound to the current module in gradle by default, so if you have a `:app` module your json files for the report will be in `./app/build/reports/marathon`. How you generate report from the actual data is out of scope for marathon and

[2022-03-18 11:43] langerhans commented on #542
Hey, not sure if I should make a new issue. I just upgraded to 0.7.0 and I still see this behaviour.
[code]
[code]
Any ideas?

[2022-03-21 03:25] ZakTaccardi opened #619 "Filename creation error: IllegalArgumentException: Requested character count -1 is less than zero."
**Describe the bug**
I'm seeing the following exception in CI when running `7.0` of Marathon. Not sure why CI is different than local.

**Devices (please complete the following information):**
 - Device: emulator API 30
 - OS: MacOS

**Additional context**
It also retries indefinitely for some reason.

[code]

Stacktrace:

[code]

[2022-03-21 08:05] SaketGupte opened #620 "Add Support for TestPlan"
**Is your feature request related to a problem? Please describe.**
iOS introduced feature called TestPlan back in 2020. It allows for running Unit and UI Test multiple times with different configurations.
Configurations can be different language and region or Simulated location. Think of LTR and RTL snapshot tests.
Without TestPlan each configuration would require scheme. With TestPlan you can hav

[2022-03-22 17:34] ZakTaccardi commented on #619
I was able to replicate this issue with the following test code:

[code]

[2022-03-22 19:09] ZakTaccardi commented on #619
side note, but why is `MAX_PATH` `255` characters? ([source](https://github.com/MarathonLabs/marathon/blob/3658eecfcf1133e2f2a3a2b98035b0eb5924bc25/core/src/main/kotlin/com/malinskiy/marathon/io/FileManager.kt#L95)). My understanding is that this limitation only applies to files or directory names themselves, and not the full path

[2022-03-30 05:09] #401 closed

[2022-03-30 05:24] #570 closed

[2022-04-04 13:24] floppydrive6 opened #621 "Cannot configure retryStrategy and batchingStrategy using Gradle"
**Describe the bug**
I am trying to override default `retryStrategy` and `batchingStrategy` using Gradle plugin with:
[code]
but running task `./gradlew app:marathonContractBackendDebug` fails with:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Try to override `retryStrategy` and `batchingStrategy` using Gradle plugin

**Expected behavior**
We should be able to override those value

[2022-04-04 20:43] Malinskiy commented on #621
Hey @floppydrive6
The only change that might affect this is https://github.com/MarathonLabs/marathon/pull/586. I’m not sure why this doesn’t work out-of-the-box though: the Action class is supposed to be compatible with both Kotlin/Groovy version of the build script.
Could you please confirm if you’re using kts or plain Groovy scripts?
Thanks!

[2022-04-05 07:58] floppydrive6 commented on #621
Hello!
Yeah, I found the same commit which might affect this 😕 . And I am using plain Groovy scripts (`build.gradle`).

[2022-04-06 08:59] Malinskiy commented on #621
Investigating. FYI: explicitly defining action works:
[code]

Update: for some reason the configuration is passed as a parameter:
[code]

The plugin code is defining this as follows:
[code]

[2022-04-06 09:18] Malinskiy commented on #584
@vlsi so it turns out that using Action is not straightforward here: while Kotlin correctly accepts a lambda and uses appropriate receiver type, Groovy is passing the receiver as a parameter for some reason. See https://github.com/MarathonLabs/marathon/issues/621#issuecomment-1090026601 for more info. Would appreciate your help on this.

[2022-04-06 09:58] floppydrive6 commented on #621
nice, thanks for answer @Malinskiy !
So looks like readme should be updated for those two, and passing other properties like: `timeoutConfiguration` via Gradle plugin stayed unchanged?
Or there will be 0.7.2 version with fix for this and all parameters will be passed in the same way?

[2022-04-06 10:31] Malinskiy commented on #621
I'm trying to figure out if this can be fixed. Will report back as soon as I know if this can be fixed. If not - will revert to the old closure signature

[2022-04-06 13:09] floppydrive6 commented on #621
great, thanks a lot!

[2022-04-06 16:39] vlsi commented on #621
@Malinskiy , I would try the following:

a) Use `Action<in ..>` for the types (the interface is declared in Java, so it lacks the type variance, and the corresponding )
B) Instantiate objects via Gradle's ObejctFactory

[2022-04-07 13:05] anas-baadshah opened #622 "Cucumber Android Run on CI failing"
**Describe the bug**
Marathon execution failing on CI. Local execution is working fine. When running on CI, It fails with the following

`E 12:25:59.962 [main] <com.malinskiy.marathon.Marathon> com.malinskiy.marathon.exceptions.NoTestCasesFoundException: No tests cases were found`

Tests are running on Cucumber, We added config for running a specific tag on marathon file like following
[code]

**T

[2022-04-07 17:35] ZakTaccardi commented on #601
I want to chalk this up to some weird enterprise/work laptop security setting, because now Spoon tests are slow too

[2022-04-07 17:35] #601 closed

[2022-04-07 17:36] ZakTaccardi commented on #619
I modified the source, bumped the `MAX_PATH` to 1000, and I haven't seen any issues with this

[2022-04-07 22:20] ZakTaccardi commented on #329
note: use case here is that I want to rerun a test up to X times to investigate if there is any flakiness. If encountered, I want to be able to review the marathon report for that failure to debug the issue.

When the last test succeeds, the marathon report looks successful - so I'm unable to debug the failed test to identify the flakiness.

[2022-04-08 19:06] ZakTaccardi opened #623 "Unable to install on API 26"
here are a couple stacktraces from the endless retry loop. Works on API 28 though

[code]

Using version `0.7.0`

[2022-04-10 23:57] tagantroy commented on #623
Hi @ZakTaccardi , I just checked sample-app with Marathon 0.7.0 on API 26 and it works.
[code]
Please provide more details about device/emulator.
Also it would be nice if you confirm this problem on sample-app.

[2022-04-11 02:15] Malinskiy commented on #621
So it turns out it's not possible to use a unified interface for the plugin's configuration for both Kotlin and Groovy: Kotlin uses the `@HasImplicitReceiver` annotation which is picked up by the SAM conversion plugin for kotlin compiler. This code is transformed into a lambda with actual receiver in kotlin while grovvy will always transform the lambda into a lambda with a parameter. Here is an ex

[2022-04-11 06:36] #621 closed

[2022-04-11 06:41] Malinskiy commented on #607
@smugleafdev please close the issue if there are no more questions here

[2022-04-11 07:20] Malinskiy commented on #613
@stMayhem thanks for reporting this, will be fixed for adam in the 0.7.2

[2022-04-11 07:22] Malinskiy commented on #616
@sonamkuk please close the issue if there is nothing else here :)

[2022-04-11 07:34] Malinskiy commented on #619
The issue here is that you're writing to a path that is so long that there is no space left to actually name the log file. I'm not sure what I can do here besides just making a better exception message.

Side note: The minimum limit for the MAX_PATH is defined [here](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd)

[2022-04-11 08:09] Malinskiy commented on #622
Hey @anas-baadshah, thanks for submitting this.

Upon a review of your config I want to make sure you understand how the remote parser works for the cucumber

You need to emit the metrics for the names of the tests somehow, an example of this is with the provided adam junit listener by adding to your test apk:
[code]

and adding this listener to the execution of marathon's test run:

[code]

Since

[2022-04-11 08:12] Malinskiy commented on #623
@ZakTaccardi the error that you're seeing at the top of the stack trace is actually Android OS's exception, not marathon's:
[code]

This is a device issue here, please investigate why the device can't install your packages.

[2022-04-11 08:17] #613 closed

[2022-04-11 14:56] #607 closed

[2022-04-12 19:22] smugleafdev opened #627 "Video recording causes emulators to disconnect"
**Describe the bug**
If video recording is turned on for failed tests, emulators will randomly disconnect after a test completes, right before Marathon deletes the video. The emulator disconnects in a way that sometimes my next automated step of killing the emulator times out, when it normally takes <1s to close all three. It's consistent in that one or two emulators always fail when running about

[2022-04-12 19:22] smugleafdev commented on #627
5556's logs (taking place before 5558):

[code]

[2022-04-13 00:45] Malinskiy commented on #627
Hey @smugleafdev

I think the reason why this happens is that screenrecord binary is outputting something completely unexpected:
[code]

When executing any shell command the output parser will always try to figure out the exit code (it's just appended using a delimiter to the stdout stream). So in your case that doesn't happen, which can indicate that the process crashed for example.

I have tried

[2022-04-13 05:51] anas-baadshah commented on #622
Thank you @Malinskiy,
I tried to add this annotation producer to the configuration and it throws an error
`E 09:46:24.271 [main] <com.malinskiy.marathon.Marathon> java.lang.RuntimeException: Unable to parse test app AndroidManifest.xml.`

Btw,  Without this listener, Locally it is executing the tests. On CI only it shows the mentioned error.
<img width="384" alt="Screen Shot 2022-04-13 at 9 51 10

[2022-04-13 05:53] Malinskiy commented on #622
Maybe you can share the manifest somehow with me and I can try to reproduce it? I've never seen android manifest parsing error tbh.

Alternatively you can just write a test in the marathon's code or create a reproducing androidmanifest without your application-specific details

[2022-04-13 08:42] anas-baadshah commented on #622
Here is the test android manifest file
[code]

[2022-04-13 08:59] anas-baadshah commented on #622
When adding the listener on to the marathon file, it fails to install the apks to the emulators and then throwing the error like
[code]
[code]

[2022-04-13 17:42] smugleafdev commented on #627
I tried manually but the emulators haven't randomly disconnected yet, and I don't know how to force it.

Are the screenshots supposed to show up as .gif? Because that's all I have. I know they used to work for me.

EDIT: Tried again after forcing more tests to fail. Looks like 1/3 tests have a functioning gif, while 2/3 have the 1byte ones.

[2022-04-13 20:45] smugleafdev commented on #627
Is there a chance this is an adam bug? If I'm testing manually with adb screenrecord, couldn't that give different results since marathon runs with adam?

[2022-04-14 01:08] Malinskiy commented on #627
@smugleafdev yeah, screenshots are accumulated into a GIF so that it's not a 100 jpg files across. this was done to emulate the video capture behaviour on devices that do not support video recording for whatever reason. The gif will be empty though if there was no screenshot captured during the test. The 1 byte file is something new, I'll investigate why this happens, but most likely the request f

[2022-04-14 04:23] Malinskiy commented on #622
@anas-baadshah I mean the manifest inside the apk, not the source manifest file that is plain text. The android manifest inside the apk goes through some processing and is not human readable.

I've added a sample test on a branch for this: https://github.com/MarathonLabs/marathon/commit/063986325396568748a0cc0a88d5ab8f4f5d9546
I'd like to see the manifest that you have inside the apk file to debug

[2022-04-14 07:08] anas-baadshah commented on #622
@Malinskiy When i drag and drop the test apk to the AS. it shows this manifest file there. Is there something I am missing? I analyzed the apk in order to find another binary but couldn't find any.
<img width="1358" alt="Screen Shot 2022-04-14 at 11 07 54 AM" src="https://user-images.githubusercontent.com/43001501/163332526-dce18a38-74f9-4df3-84b8-7c0840ae18db.png">

[2022-04-14 07:34] Malinskiy commented on #622
Just rename the x.apk to x.zip and use any unzip tool. The output should have the manifest in the root

[2022-04-14 07:38] anas-baadshah commented on #622
Thanks @Malinskiy, Here it is.
[AndroidManifest.xml.zip](https://github.com/MarathonLabs/marathon/files/8487203/AndroidManifest.xml.zip)

[2022-04-14 07:51] Malinskiy commented on #622
Reproduced. Looking into the problem

[2022-04-14 08:31] Malinskiy commented on #622
The library I'm using to parse the manifest is reading the offset of strings packed in the manifest location 12435439==`BDBFEF`

 when the file has 2k bytes. Something fishy is going on here. Looking at hex comparison to a normal file I see these blobs of `BDBFEF` happening multiple times. Not sure what these are
![image](https://user-images.githubusercontent.com/2089114/163345909-04ef3185-8e81-45

[2022-04-14 09:39] anas-baadshah commented on #622
@Malinskiy Is this APK broken? But there were no configuration changes to it. What you suggest here?

[2022-04-15 13:17] Litemn opened #628 "Provide logs report for test batch execution"
**Is your feature request related to a problem? Please describe.**
Marathon generate test report with device log of each test, but when error or crash occurred on setup step marathon don't known test name and than we miss log.
**Describe the solution you'd like**
Provide solution for report device log for test batch. This logs will be not so large like all device log and we don't miss important lo

[2022-04-16 23:58] kavabunga6 opened #629 "Install extra applications"
**Is your feature request related to a problem? Please describe.**
When we use black box tests we need install 3 apk:
- main app
- main app contains test classes (other repository)
- test app (other repository)

**Describe the solution you'd like**
Allow to specify a list extra apk for install on device

EXAMPLE FOR MARATHONFILE:

[code]

[2022-04-18 22:39] tagantroy opened #631 "Add support for Remote Execution API"
**Is your feature request related to a problem? Please describe.**
Building test farm is not very trivial problem, you can start with using open sourced tools like [DeviceFarmer](https://github.com/DeviceFarmer/stf)(ex OpenSTF), but it will solve only part of your challenges.
Google introduced Remote Execution API to support horizontal scaling of their build system Bazel, but this API can be easil

[2022-04-19 00:02] ZakTaccardi commented on #619
@Malinskiy this only affects Windows (and applications can opt in to the longer length on Windows 10). We're linux/mac only, so we are unaffected by this limitation.

It would be great to provide a way to inject the limit via the marathon gradle extension. Maybe something like:

[code]

Otherwise, for us to consume a new marathon release, we have to fork it internally and modify the source of `MAX

[2022-04-19 00:09] ZakTaccardi commented on #619
another solution would be to create dynamic limits based on mac vs windows vs linux

[2022-04-19 00:12] Malinskiy commented on #619
While this particular example is Window's NTFS limitation, I can't guarantee that there is no Linux filesystem that doesn't have the same limitation. Currently, there is no API for JVM to capture the max filepath + max filename, so until such an API exists it is not a good idea to have `switch(os.version)` in the code: the real limitation is on the filesystem implementation and there is no API to

[2022-04-19 14:19] smugleafdev commented on #627
Going to close this as I don't think it's Marathon causing the emulator disconnects. I have no idea what is, but Marathon is just there watching it happen.

[2022-04-21 06:27] Malinskiy commented on #627
I probably would try to look for some stacktraces in the logcat: sometimes adbd crashes or maybe some other internal component. By looking at the timestamp you might be able to find at least some logs related to this

[2022-04-21 13:34] #619 closed

[2022-04-22 01:31] #628 closed

[2022-04-26 06:24] Malinskiy commented on #629
Closed by #630

[2022-04-26 06:24] #629 closed

[2022-04-27 02:58] Malinskiy opened #638 "Docs for multi-apk testing"
Missing docs for #523

[2022-05-04 18:47] ZakTaccardi opened #643 "Create marathonFlavorTasks before afterEvaluate"
Not sure why exactly this is the case, but it would be nice if I didn't have to use `afterEvaluate { }` to grab the marathon task without an exception, and just wait until both AGP and Marathon have been applied.

Could be a race condition around the new AGP 7.0 APIs too, though.

[code]

Obviously the Marathon gradle plugin needs to await for AGP to do its thing before it can create its tasks, an

[2022-05-16 09:49] kavabunga6 opened #646 "Push files before each test"
**Problem**
Some tests require special resources which should not be stored in assets (binary files, specified files for current run)

**Solution**
Add option for push files to device before each test
For first iteration we can add everything in **/data/local/tmp/marathon**

**Example 1**
![example](https://user-images.githubusercontent.com/9674794/168566716-16522419-950c-4b6f-855b-0ec462b9a5e5.pn

[2022-05-16 11:12] deliain commented on #476
Hi there,
we are also experiencing the problem that our devices' running our tests runs, their storage is getting full because of saving the videos where the test case failed.
Are there any news to this topic?  Is there a way with marathon to clean the storage after some time? or even before starting the next test run?

[2022-05-18 09:28] Malinskiy commented on #476
@deliain could you please show a list of files that are taking the space? I need to understand what to include in the cleanup logic. Originally this issue was about the apks that are taking up the space

[2022-05-18 09:33] deliain commented on #476
we investigated a little bit, and in some devices we saw that the videos generated by marathon on failure were saved on the device storage,  directly in the "Internal Storage" folder or in some cases in a temporary folder called "test" and they were not deleted after some time. So far, I did not experience that behavior anymore. Not sure if that was a one time problem but as right now looks better

[2022-05-27 12:57] carlosrivin opened #650 "Option to bump max char size of the video recording file"
**Is your feature request related to a problem? Please describe.**
I've noticed several times that our video files actually get duplicated with other older runs. This mostly happen because the current file name is kinda small and has too many things that always repeat.

**Describe the solution you'd like**
Solution could be larger allowed file size by configuration or new file name pattern creator

[2022-06-09 10:50] blackjets opened #656 "Implementation screenshot landscape orientation"
in ScreenCapturer.kt at line 81 in function getScreenshot()
replace `Scalr.resize(screenshot, Scalr.Method.SPEED, Scalr.Mode.AUTOMATIC, configuration.width, configuration.height)`
            with `rotateImage(screenshot,90.0)`
and insert method below:
[code]

[2022-06-09 10:53] blackjets commented on #656
This implementation works correctly, and is required for applications where the orientations change at runtime.

[2022-06-16 06:33] Litemn opened #658 "Allure filter not work when only allureId set"
**Describe the bug**
allure tests filter in filtering by allure id depends on AS_ID as annotation name, but get io.qameta.allure.kotlin.AllureId as example

**To Reproduce**
1) Start test launch from allure testops with test selection
2) FQTN must mismatch with allure test plan selector
`{"version":"1.0","tests":[{"id":"1","selector":"TestClass.testMethod"}]}`
FQTN = package.TestClass.testMethod a

[2022-06-16 08:55] umesh-onshape opened #660 "Reports build failure when all the test cases pass"
**Describe the bug**
I explicitly specified 208 test cases to run using filter with fully qualified test names. All these 208 test cases pass but marathon reports failure as it say s it expected results from 220 test cases.

**To Reproduce**
Steps to reproduce the behaviour:
1. Full configuration: specified in the marathon file

name: "Onshape"
outputDir: "build/reports/marathon"
vendorConfigurati

[2022-06-16 08:57] #658 closed

[2022-06-16 09:06] Malinskiy commented on #660
Hey @umesh-onshape

So where do you get the other 12 test runs from? You should be able to understand why from the standard output.

In terms of solution - pretty sure #644 should solve this regardless of the source of retries, but I still want to understand why there are more retries invoked here

[2022-06-16 11:39] umesh-onshape commented on #660
I see some test cases run twice, even with no retries asked for in the marathon configuration file as shown above.

[2022-06-16 11:43] Malinskiy commented on #660
@umesh-onshape can you please investigate why the retries are happening for at least one test? E.g. when they’re starting, what’s the result, etc.
Maybe they’re mentioned twice in the list requested

[2022-06-16 21:35] umesh-onshape commented on #660
Consider the case of **testPermissionFull**, **testCanDeleteAsOwner** and **testPermissionCopy** , these are present two times in the overall test list before marathon start executing tests, though it is present only once in the app/MarathonFile

Also note right at the beginning, log shows marathon will execute 220 test cases, because some of them are duplicated. Again these occur only once in the

[2022-06-17 05:55] Malinskiy commented on #660
Hmmm, that’s a very interesting behaviour. The problem is not with the execution side of marathon, it’s with the actual calculation of the tests to execute.
The logic here is basically 3 steps:
1. Parse all tests from the apk
2. Apply filtering configuration (can’t add duplicates)
3. Apply sharding configuration (may add duplicates, but you don’t have any sharding configuration, so not affecting t

[2022-06-17 07:58] umesh-onshape commented on #660
No, that's not the case I have them specified only once.  I haven't specified any parser so I am guessing it's default one.
I am pasting the initial log of marathon before test run and the config file. Can you tell me more about how to use the solution in #644 ?

[code]

the config file:

[code]

[2022-06-17 09:54] umesh-onshape commented on #660
Coming back to your main concern that you would still want to understand why there are more retries invoked here. I am more than interested to help.

As you say:

There could be a bug in calculation  (in context of my marathon file or could be a general cause) ? Do you have automated tests that can tell this off-hand?

[2022-06-17 10:28] umesh-onshape commented on #660
Or the 12 "extra" test cases  did not report success or failure....I see two of these statements, one in highlighted mode, may or may not be related.

[code]

[2022-06-17 11:19] blackjets opened #661 "fixing the interaction between marathon and firebase.appdistribution"
When the project uses firebase.appdistribution with marathon, the fasterxml.jackson transitive dependency received a java.lang.NoSuchMethodError exception: 'boolean kotlin.reflect.KClass.isValue()'.
resolution is to add shadowJar relocate com.fasterxml.jackson to com.shadow.fasterxml.jackson
Steps to fix:
1) in file marathon-gradle-plugin/build.gradle.kts add plugin
`id("com.github.johnrengelman.s

[2022-06-18 05:26] Malinskiy commented on #660
`testEnded` means test successfully finished in the `am instrument` terminology, so I don't think it's a problem with the execution since the execute flow follows the logic of scheduling 220 tests (not expecting duplicates here at all), execute all, only 208 unique results received, fail with mismatch.

Technically you don't have retries created for tests anywhere: the retries are coming from the

[2022-06-19 16:56] #650 closed

[2022-06-19 17:12] #661 closed

[2022-06-21 11:35] neestell opened #667 "How to execute tests only on specific Android device(N devices are connected locally)?"
Hello!
Is there a way to run tests using device id/uuid or any other identifier?
I have N devices connected to macbook. For a configuration "A" tests must be executed on device id 1, for a configuration "B" tests must be executed on device id 2.

Thank you!

[2022-06-22 01:40] Malinskiy commented on #667
Hey @neestell, thanks for raising this.

You can filter out devices using the `includeSerialRegexes` and `excludeSerialRegexes` to filter out devices based on their serial numbers. In your case you just need to specify `id 1` and `id 2` as a regex for includeSerialRegexes, that should be enough.

[2022-06-22 13:32] neestell commented on #667
Thanks! Works as expected

[2022-06-22 13:32] #667 closed

[2022-06-23 09:19] #656 closed

[2022-06-24 09:26] Malinskiy commented on #646
Closed via #648

[2022-06-25 09:04] #646 closed

[2022-06-29 03:18] Malinskiy commented on #660
Problems with remote parser for this use-case were solved in #666
To continue investigation with dex-test-parser either a demo reproducer is needed or the actual apks with the problem.

[2022-07-06 07:45] floppydrive6 opened #671 "Cannot build project using latest Marathon 0.7.3"
**Describe the bug**
After Marathon bump from `0.7.2` to `0.7.3` I see build failures, using Marathon Gradle plugin.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use `0.7.3` Marathon Gradle plugin
2. Build project
3. You should see below errors
<details>
<summary>errors</summary>

[code]
</details>
Looks like it's connected with this https://github.com/MarathonLabs/marathon/pull/587

[2022-07-07 00:02] Malinskiy commented on #671
Thanks for submitting the issue. Can you please confirm the AGP version you're using as well as gradle version?
Thanks

[2022-07-07 08:28] floppydrive6 commented on #671
hey, I am using `com.android.tools.build:gradle:7.1.3` and `gradle-7.4.2`, sorry for not mentioning that!

[2022-07-07 13:38] Malinskiy commented on #671
Ah, right. The sample project marathon is tested on uses gradle 7.2. This error is there if I switch to 7.4.2

Should be a straightforward fix though. Will create one today.

[2022-07-07 14:54] floppydrive6 commented on #671
Thanks a lot! Is there any chance to create new tag once fix is merged?

[2022-07-08 03:07] Malinskiy commented on #671
I will release a fix as a separate release soon

[2022-07-11 02:21] #671 closed

[2022-07-11 02:29] Malinskiy commented on #643
Done in #672

[2022-07-11 02:30] #643 closed

[2022-07-11 02:31] Malinskiy commented on #616
Closing, feel free to reopen if there is something on the marathon's side of this

[2022-07-11 02:31] #616 closed

[2022-07-12 14:07] stMayhem opened #673 "Upgrade okhttp version 4.9.1 -> 4.9.2"
The plugin is currently using version 4.9.1 of okhttp (_com.squareup.okhttp3:okhttp:4.9.2_), it has the critical vulnerability https://github.com/square/okhttp/issues/6738.
Need to upgrade to version 4.9.2, which contains fix.

[2022-08-04 19:36] phkuroishi opened #675 "Unable to run in multiple devices"
Hello. I'm new to Marathon and I'm having some difficulty executing the tests in parallel on different devices. I'm trying to execute the tests using an emulator and a real device, but only the emulator executes the tests. I'm using the following configuration:

outputDir: "build/reports/marathon"
vendorConfiguration:
  type: "Android"
  applicationApk: "app/build/outputs/apk/debug/app-debug.apk"

[2022-08-05 01:32] Malinskiy commented on #675
Hi,

It seems like your real device didn’t pass the setup which involves getting some information about the device as well as installing the apks you provide.

The stack trace you’re receiving above is because the test run finished at that point but device still didn’t respond for some reason `at com.malinskiy.marathon.execution.DevicePoolActor.onQueueTerminated(DevicePoolActor.kt:88)`

I would do

[2022-08-05 14:26] phkuroishi commented on #675
Hi, it seems that my device is ok. I tried to run the tests only on my device, and it works fine. However, when I started the emulator and executed the tests on both devices, I got the same error.

[2022-08-06 03:38] Malinskiy commented on #675
Can you please supply the full log of the test run?

[2022-08-07 13:46] phkuroishi commented on #675
Sure.

[code]

[2022-08-08 02:09] Malinskiy commented on #675
I'm not sure how you expect to run a single test on multiple devices:
[code]

The test run finishes successfully though, the device is just terminated due to no tests left to run.

[2022-08-08 20:12] phkuroishi commented on #675
Oh sorry, I got it wrong. I thought the test would execute across each device of the cluster.
Is there any option to run this single test on each device?

Again, sorry for the misunderstanding

[2022-08-09 10:52] Malinskiy commented on #675
No worries at all.
Yeah, you can achieve this behavior by using one of the https://marathonlabs.github.io/marathon/doc/configuration.html#pooling-strategy
Each pool executes all of the tests independently.

[2022-08-10 08:07] floppydrive6 commented on #671
hey @Malinskiy
Do you know when can we expect newer release with above fix (`0.7.4`?) I'd love to give it a try! 🙁

[2022-08-17 10:54] abhishekbedi1432 commented on #560
Can we close this issue @Malinskiy @udaymuthu ?

[2022-08-18 00:05] Malinskiy commented on #560
@abhishekbedi1432  Not to my knowledge, but I would like the OP to confirm this at some point :)

[2022-08-18 06:05] abhishekbedi1432 commented on #470
@Malinskiy  Tried this but failed.
Command line:
`STRATEGY="device-model" /Users/abhishek.bedi/Downloads/marathon-0.7.3/bin/marathon`

MarathonFile:
`name: "sample-ios-app tests"
outputDir: "derived-data/Marathon"
ignoreFailures: true
testClassRegexes: ["^((?!Abstract).)*Tests$"]
poolingStrategy:
  type: "#{STRATEGY}"
batchingStrategy:
  type: "fixed-size"
  size: 1
debug: true
filteringConfigurat

[2022-08-19 10:57] abhishekbedi1432 opened #676 "[iOS] java.lang.NullPointerException: null cannot be cast to non-null type kotlin.Array<kotlin.Any>"
**Describe the bug**
Marathon failes to parse the iOS XCTestRun file if the file doesn't have SkipTestIdentifiers. Ideally, SkipTestIdentifiers should be optional.
<img width="757" alt="image" src="https://user-images.githubusercontent.com/1243887/185606079-80d1ebbf-fd44-4acc-a7c1-46a8aca29e02.png">

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the `ios-app-setup.sh` on the project an

[2022-08-19 18:07] phkuroishi commented on #675
Oh, ok.
Going to try it! Thanks

[2022-08-22 08:01] tagantroy commented on #675
Looks like this problem was solved

[2022-08-22 08:01] #675 closed

[2022-08-26 02:38] #673 closed

[2022-08-26 14:07] carlosrivin opened #678 "Android plugin is not found after migrating to 0.7.4"
**Describe the bug**
After updating from 0.7.2 to 0.7.4, marathon can't find the android android plugin

**To Reproduce**
Steps to reproduce the behaviour:
I don't know exactly what is wrong. Some context in the bottom.

**Expected behavior**
Compiles.

**Logs and reports**
`org.gradle.internal.exceptions.LocationAwareException: Build file '/Users/carlos.ruhrwiem/Dev/workspaces/xxxxx/build.gradle.

[2022-08-26 14:08] carlosrivin commented on #678
I saw that the 0.7.4 changed

`project.afterEvaluate {
  val appPlugin = project.plugins.findPlugin(AppPlugin::class.java)
  val libraryPlugin = project.plugins.findPlugin(LibraryPlugin::class.java)`

to remove the project.afterEvaluate. I figure this is the core of the issue. I just don't have ideas on how to fix it on my side.

Can you please help me understand what is wrong? :)

[2022-08-29 02:32] Malinskiy commented on #678
Hi @carlosrivin, thanks for posting the issue

You have to apply the marathon plugin after the android, this is a general issue with all the gralde plugins at this point: their dependencies are expressed via the order of apply plugin blocks.
You can apply marathon after your custom `android.gradle` for example

For context, the reason why afterEvaluate has been removed is here https://github.com/M

[2022-08-29 13:06] FasdAR opened #679 "Unsupported new AGP versions 7.2.2+"
**Describe the bug**
If use the agp version higher `7.0.3` and the plugin version `0.7.4` get an error at the moment of sync project:
[code]

The version agp on which i get error: `7.2.2`
If use the agp version as in the simples `7.0.3` then this error disappears

The gradle version use - `7.4`

**To Reproduce**
Steps to reproduce the behaviour:
1. Use `id("marathon") version "0.7.4"`
2. Use the a

[2022-08-30 07:38] Malinskiy commented on #679
Someone can't resist moving packages around: https://cs.android.com/android-studio/platform/tools/base/+/18db44f3e7e51643a0010084706d39dd9dab27a9

[2022-08-30 08:00] #679 closed

[2022-08-30 14:18] carlosrivin commented on #678
going for 0.7.5 fixed the issue for me.

[2022-08-30 14:18] #678 closed

[2022-09-08 13:50] sergey2att opened #681 "Can not start test without --no-window-animation key"
Hi guys
I am using marathon configuration with ADAM and it looks like it is impossible to start a test without --no-window-animation
[code]
I don't use any additional instrument parameters in marathon configuration file. And it would be great to have no-window-animation as optional.

[2022-09-09 05:58] Malinskiy commented on #681
Hey @sergey2at, thanks for the issue!

Can you please elaborate why you would like to wait for the window animation? Are you testing the window animations?

Thanks

[2022-09-09 07:12] sergey2att commented on #681
Hi Anton!
In my case disabling animation broke some functionality with widgets. I can't modify code of developers, that is why for me using animation is only way for testing and I would happy to have ability to manage window animation.

[2022-09-16 08:29] Malinskiy commented on #623
Please close the issue if there is nothing else here

[2022-09-16 08:34] Malinskiy commented on #622
@anas-baadshah Please close this if the issue was resolved since the problem was due to apk corruption

[2022-09-16 08:37] Malinskiy commented on #615
#682 adds support for test runtime screen captures that are automatically collected via marathon. Will be released in the next version
The screencaptures are visible via Allure's report

The UUID you see in the log is not a test case id, it's the batch UUID as in a unique identifier of a group of tests. If you still need this id for other reasons - please open another issue.

Thanks

[2022-09-16 08:37] #615 closed

[2022-09-16 08:40] Malinskiy commented on #614
Closed via #682

[2022-09-16 08:40] #614 closed

[2022-09-16 08:42] #681 closed

[2022-09-16 08:46] Malinskiy commented on #541
Closing due to inactivity + AGP 4.2.2 is not supported anymore via Gradle plugin

[2022-09-16 08:46] #541 closed

[2022-09-16 09:15] #638 closed

[2022-09-20 07:32] pisanyialeksei opened #687 "Hours are not displayed in the duration field in the report"
**Describe the bug**
Hours are not displayed in the duration field in the report (index.html page)
Duration field have the format like mm:ss.ms

**To Reproduce**
Steps to reproduce the behaviour:
1. Full configuration
[code]
2. Any additional information about the device provider (devices that were stuck, etc.)
Usual testruns

**Expected behavior**
The duration field should have the format hh:mm:s

[2022-09-22 07:43] abhishekbedi1432 opened #688 "iOS - Supporting Xcode TestPlans"
### **Is your feature request related to a problem? Please describe.**
Running your tests with different environments, localizations and sanitizers is a good way to catch more bugs. You can use schemes to create the different configurations but that quickly becomes unmanageable.

Apple added test plans to Xcode 11 to make it easier to rerun tests with varying test configurations. Here’s my notes o

[2022-09-23 17:40] ZakTaccardi commented on #378
AGP and Kotlin both support the configuration cache ([docs](https://docs.gradle.org/current/userguide/configuration_cache.html)) now. Please add support to Marathon

With the configuration cache enabled:

[code]

[2022-09-26 03:52] Malinskiy commented on #378
I'll be happy to accept a PR with the necessary changes @ZakTaccardi

[2022-10-01 23:28] stanroy opened #689 "log files and report files names"
Is it possible to change names of log files and html test files? Those files are generated with names that start with ".", which makes them hidden on my system. For this reason I can't view logs even when serving content on local server. After removing the first character in those names and changing the file references in html files everything works.

So for example, after marathon finishes I have

[2022-10-02 02:02] Malinskiy commented on #689
First of all, this is an issue with cucumber tests specifically: the test file name is created roughly by doing `$package.$classs#method`. Cucumber tests do not report any package. I can remove the leading dot from the file name, but it would be awesome if the cucumber integration reported at least some package there: `am instrument` doesn’t expect the package to be empty anyways. This is likely t

[2022-10-06 10:21] princeparadoxes opened #690 "Android Dynamic Feature Support"
marathon supports testing multiple modules
https://marathonlabs.github.io/marathon/ven/android.html#multi-module-testing

But, if use that case for dynamic feature adb throwing error
`Failure [INSTALL_FAILED_INVALID_APK: Full install must include a base package]`

Cause of error:
marathon invoke `adb install` for each apk. Dynamic feature needs `adb install-multiple` with some apk.

List of adb co

[2022-10-06 12:02] lsuski commented on #689
Hi, I'm cucumber-android maintainer.
Regarding this issue:
which `package` do you mean in `$package.$class#method`. In `Description` class I see that class name is used for name. The class name of course contains java package however it can also be class without any package. Could you point out which property of `Description` class should be filled. If the issue is about java class package missing

[2022-10-07 10:35] Malinskiy commented on #689
Hi @lsuski

The issue is that all `$package`s coming out of cucumber are empty. From a perspective of native Android tests it's technically possible to place all the codebase into the root package, but it's rarely something anyone does. The expectation here is that the `String` class name you pass to the description is a fully qualified one, i.e. includes the package. I'm not familiar with cucumbe

[2022-10-07 11:55] lsuski commented on #689
In cucumber you have features and scenarios. In `Description` class name is a feature name which is something human readable. Method name is a scenario name which is also human readable. Features can be organized in folders. There is no requirement to have each class in package and there is no requirement to have each feature in some subfolder. Even if you have such structure there is a chance tha

[2022-10-07 12:03] lsuski commented on #689
If Marathon supports empty package name then why file name starts with `.`?

[2022-10-08 04:36] Malinskiy commented on #689
Spoon and native gradle tasks have abysmal support for reports around tests. Sorry for trying to make it better for the end user

Technically everything works as in the tests are executed and the reports are generated. I will implement a workaround for file naming by using some hardcoded value for the package if it is empty, but in my opinion the structure of the tests should contain more than one

[2022-10-08 05:08] trevjonez commented on #689
do file systems support emoji? it would be pretty fun to have the :cucumber: as the package name for this.

[2022-10-08 07:55] lsuski commented on #689
I'm not sure why any hardcoded value should be used. No package means no package and everything is in the same folder so this redundant dot should be removed. Nevertheless you can use testNamespace or testApplicationId. From my side I will add an option to use file name with relative path so it will look like:
`features.domain.my_feature#Some scenario`

[2022-10-08 18:12] ZakTaccardi commented on #378
Unfortunately my company blocks pushing code to regular github, so collaborating here will be difficult.

This doc contains a list of the APIs that would need migrations: https://docs.gradle.org/current/userguide/configuration_cache.html#config_cache:requirements

Most of the issues I've seen are usage of `project.file(..)` or `project.buildDir`, which can be replaced with `layout.buildDirectory`

[2022-10-08 18:13] ZakTaccardi commented on #378
note: configuration cache is nearing feature stability https://github.com/gradle/gradle/issues/19933

[2022-10-08 18:22] ZakTaccardi opened #691 "MarathonRunTask outputs are not defined"
I have to input Marathon's JUnit XML to another downstream finalizer task, but the `MarathonRunTask` does not make this easy because the output directory for it is not explicitly defined.

The following is defined, but it does not seem usable?
[code]

There's:

[code]

Which I could duplicate the logic for, but it would be brittle. If the `MarathonRunTask` could expose a `Provider<Directory>` as o

[2022-10-09 02:36] Malinskiy commented on #378
So your company blocks pushing code to github but it's ok to use code from github? Seems like a wrong policy
FYI I don't plan to implement support for configuration cache in the near future because the project has different priorities ATM, happy to help with the code review though

[2022-10-09 02:39] Malinskiy commented on #689
For consumers who depend on parsing file names into meaningful `pkg.class#method` removing a `.` in the front will potentially break parsing (`class` -> `package`, and then class not found).

What you're proposing sounds good to me and will solve all of the original issues here.

[2022-10-11 02:03] #689 closed

[2022-10-19 10:27] #470 closed

[2022-10-19 10:29] Malinskiy commented on #476
For the videos, the cleanup is definitely happening: https://github.com/MarathonLabs/marathon/blob/066b73f456e8ff809396db4a44e413dfa456a24a/vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/video/ScreenRecorderTestBatchListener.kt#L116

I'm close the issue, please reopen if the problem persists

[2022-10-19 10:29] #476 closed

[2022-10-19 13:08] #687 closed

[2022-10-19 13:33] Malinskiy commented on #511
@VictorIreri I'm not a frontend dev, but I gave this a fair shot in #698 :sweat_smile:

[2022-10-19 13:36] Malinskiy commented on #516
This shouldn't be a problem anymore on the recent versions @plastiv to my knowledge
Please close the issue unless there is anything else

[2022-10-19 13:37] Malinskiy commented on #544
Closing since the fix was deployed a long time ago
Please reopen if the problem appears again.

[2022-10-19 13:37] #544 closed

[2022-10-19 13:38] #511 closed

[2022-10-19 13:39] Malinskiy commented on #560
@udaymuthu any update here?

[2022-10-20 13:48] plastiv commented on #516
Thank you 🎉

[2022-10-20 13:48] #516 closed

[2022-10-31 09:04] #622 closed

[2022-11-18 04:05] Syne10 opened #708 "emulator changed state to NOTHING_TO_DO"
After the update marathon, the logs began to get clogged with similar warnings:
`[DeviceMonitor @coroutine#6] <AdamDeviceProvider> Device [MASKED]:6006 changed state to NOTHING_TO_DO`

please tell me why this might be happening?

[2022-11-18 06:08] Malinskiy commented on #708
Because your device is changing the state in the adb server, e.g  OFFLINE -> AUTHORIZING

Under normal circumstances this shouldn't happen during the run unless you dynamically connect devices

[2022-11-19 01:35] YOSE2 opened #710 "YOSE MONEY"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Full configuration
2. Any additional information about the device provider (devices that were stuck, etc.)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs and reports**
Add an execution log to help explain your problem. If po

[2022-11-19 01:36] YOSE2 commented on #676
YOSE MONEY

[2022-11-19 01:36] YOSE2 opened #711 "YOSE MONEY"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered. Are t

[2022-11-19 08:20] #710 closed

[2022-11-19 08:21] #711 closed

[2022-11-22 16:18] smugleafdev opened #714 "New release with commons-text-1.10"
The newest release does not include the security patched version of the library commons-text. 1.9 had a security issue, and 1.10 was merged into develop recently, so all we need is a new release.

[2022-11-23 11:43] vuklip opened #715 "Extra applications for iOS"
Hello!

Please, add a feature to install extra apps before running the tests on iOS, as it is already implemented on [Android](https://marathonlabs.github.io/marathon/ven/android.html#extra-applications-apk-path).

Thanks.

[2022-11-25 08:29] sonothar opened #716 "com.malinskiy.marathon.config.exceptions.ConfigurationException: Invalid test"
**Describe the bug**
We just updated out App to SDK Target 33. To run ui tests locally against an Android API Level 33 emulator it was necessary to update to the androidx.test version 1.5.0. But when using that version the marathon test run ends in an endless loop with an initializationError, saying "can't locate test bundle". See stacktrace below
The problem does not appear when I use the android

[2022-11-25 08:38] Malinskiy commented on #716
@sonothar I think the error is related to test parsing: are you sure that test `db.vendo.android.vendigator.view.verbindungsdetails.VerbindungsdetailsFreieReiseMerkenTest#initializationError` really exists? When executing tests marathon tries to associate each test to a set of apk files you pass to it. Here the error is somehow you have a test that didn’t come from any apk.

[2022-11-25 10:02] sonothar commented on #716
How could the test not exist? The test is annotated with @HiltAndroidTest and @RunWith(AndroidJUnit4::class). The test itself did not change during the API update.
Any idea how to check that?

[2022-11-25 10:29] Malinskiy commented on #716
You can check this by looking in your codebase in the `db.vendo.android.vendigator.view.verbindungsdetails.VerbindungsdetailsFreieReiseMerkenTest` class and looking for `initializationError` method.

- If this method **exists** then it's not a problem with test parser
- If it **doesn't exist** then it's a problem with test parser

Updating the build tooling as well as test runtime can have this ef

[2022-11-25 12:56] sonothar commented on #716
There is no method `initializationError`.
I tried the current build tools version `33.0.1`. That at least solved the problem locally. But the tests still won't run successfully on the jenkins.
Maybe there is an issue with the test parser.

[2022-11-25 13:02] Malinskiy commented on #716
A sample project to reproduce your problem will help. Pull out your test case declaration into an empty project and verify that it fails and post here a link to the project.
Which test parser are you using by the way? local or remote?

[2022-11-29 08:12] neestell opened #717 "[Android] Tests parse directory"
Hello!
I have a project with two modules: app(application) and tests(android.test). Marathon and test files are in test module(`src/main/java`). .**apk**  and androidTest.**apk** are in an app module.
When I try to run test via _marathon_ a result is `NoTestCasesFoundException: No tests cases were found`.
How to set tests' source parse directory?
Thanks

[2022-11-29 08:57] stMayhem opened #718 "Upgrade commons-text version"
The plugin is currently using version 1.9 of apache commons-text (org.apache.commons:commons-text:1.9), it has the critical vulnerability https://seclists.org/oss-sec/2022/q4/22.
Need to upgrade to version 1.10, which contains fix.

[2022-11-29 09:43] #718 closed

[2022-11-29 09:44] stMayhem commented on #714
https://seclists.org/oss-sec/2022/q4/22

[2022-11-29 09:45] stMayhem commented on #718
closed as duplicate of https://github.com/MarathonLabs/marathon/issues/714

[2022-11-29 11:23] Malinskiy commented on #717
Hey @neestell, please provide your `Marathonfile` as well as the full output of running `marathon`.

Seems like you didn't configure the run correctly.

[2022-11-29 11:25] Malinskiy commented on #714
The next release is going to take some time since it includes several breaking changes.
In the meantime the above vulnerability should not have any security risk unless the attack vector of submitting a random `Marathonfile`s  applies to you.
I will update this issue closer to the `0.8.0`

[2022-11-29 11:28] neestell commented on #717
If I put test files in `app/src/androidTest` all works as expected
[code]

[2022-11-29 11:36] Malinskiy commented on #717
I'm not sure what is _it_ in your sentence, but I suspect you're having trouble with paths. Here is a snippet from the documentation that might help:

The test source files are not used by marathon in any way. The only files that are used are the 2 apk files you specify here:
[code]

From what you described above, it seems like you've put source files for tests in a directory that is not picked up

[2022-11-29 11:47] neestell commented on #717
You are right! Probably `app-dev-debug-androidTest.apk` does not contains test files because of a build system misconfigured for tests in a separate module.
Thanks!